@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* removing the padding and margin from all the elemeents using this wild card */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* setting text and background color for the body */
body {
    background-image: url(https://cdn.pixabay.com/photo/2010/12/13/10/05/berries-2277_1280.jpg) ;
    width: 100%;
    height: 100%;
    color:white;

   
}
#full-body{
    width: 100vw;
    height: 100%;
}

/* header heading section */
#heading {
    margin-top: 100px;
}


/* header navigation bar shadow */
#nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color:#0d8882;
}



/* header search bar section */
#search-bar {
    max-width: 1000px;
}
#search-bar input {
    height: 70px;
    border-radius: 30px;
}


/* setting glassmorphism for meal card */
#card{
    /* background-color: black; */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


/* setting style for meal details container  */
#meal-details{
    width: 100%;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background: gray ;
}
#meal-header{
    width: 70%;
    margin: auto;
}
#meal-thumbail img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
#meal-instruction{
    margin: auto;
    text-align: center;
}


/* favourites offcanvus  */
#favourites-body{
    background-color:#0F4C45;
}